# operating system files
.DS_Store

# DGD config files
*.dgd
!.config.dgd
!docs/install/config.example.dgd

# local scripts
*.sh
!start.sh
scripts/*.sh
!scripts/encoding.sh
!docs/install/mud.sh
!docs/install/vm/provisioning.sh

# ide and editor files
.sublime-project
.vscode