# ignore players and accounts
/save/accounts/*
/save/players/*
!/save/accounts/a/admin@ciudadcapital.net.o
!/save/players/a/admin.o

# save files
/save/*.o

# log files
/log/*

# administrator home files
/home/admin/

# only initial migration
/lib/user/migrations/*
!/lib/user/migrations/base_migration.c
!/lib/user/migrations/0001.c

# ignore areas
/game/areas/*
!/game/areas/start

# game specific social objects
/game/obj/citizenships/*
!/game/obj/citizenships/.gitkeep
/game/obj/deities/*
!/game/obj/deities/.gitkeep
/game/obj/jobs/*
!/game/obj/jobs/.gitkeep
/game/obj/races/*
!/game/obj/races/.gitkeep

# ignore game documents
/game/docs

# ignore specific game handlers and tables
/game/handlers
/game/tables
