# ignore players and accounts
/save/users/*
/save/players/*
!/save/users/a/admin@maldorne.org.o
!/save/players/a/admin.o

# save files
/save/*.o
/save/ventures/*.o
/save/ventures/*-log
!/save/ventures/ventures.o
/save/issues/issues.o
/save/games/*
!/save/secure/secure.o

# tmp files
/tmp/*
!/tmp/.gitkeep

# log files
/log/*
!/log/.gitkeep

# administrator home files
/home/admin/

# only initial migration
/lib/user/migrations/*
!/lib/user/migrations/base_migration.c
!/lib/user/migrations/0001.c

# ignore games, except the common ones
/games/*
!/games/hexagon/

!/games/demo-fantasy/
/games/demo-fantasy/log
/games/demo-fantasy/save