# ignore players and accounts
/save/accounts/*
/save/players/*
!/save/users/a/admin@maldorne.org.o
!/save/players/a/admin.o

# save files
/save/*.o

# log files
/log/*

# administrator home files
/home/admin/

# only initial migration
/lib/user/migrations/*
!/lib/user/migrations/base_migration.c
!/lib/user/migrations/0001.c

# ignore packages
/packages/*

# ignore games, except the common ones
/games/*
!/games/hexagon/
