name: Deploy to hosting
 
on:
  push:
    branches: [ master ]
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout git repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Compile driver
      run: |
        cd ${{ github.workspace }}
        ./install/install.sh

    - name: Copy driver documentation
      run: |
        cd ${{ github.workspace }}
        cp -R ./driver/dgd/lpc-doc/* ./mudlib/docs/en/driver/
        cp -R ./driver/dgd/lpc-doc/* ./mudlib/docs/es/driver/

    - name: Duplicate code for english and spanish servers
      run: |
        cd ${{ github.workspace }}
        mkdir en
        mv !(en) en
        cp -R en es
        sed -i '18,19 s/en/es/g' es/mudlib/include/mud/translations.h

    - name: Synchronize with hosting
      uses: houseofmaldorne/rsync-deploy@v2.0
      env:
        DEPLOY_KEY: ${{ secrets.REMOTE_SSH_KEY }}
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        REMOTE_SERVER: ${{ secrets.REMOTE_SERVER }}
        REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
        REMOTE_PATH: ${{ secrets.REMOTE_PATH }}
        FOLDER: "./"
        EXCLUDE_LIST: ".github/workflows/exclude.txt"

    - name: Finishing sync
      run: echo Sync finished!
